body {

    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(20px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 7px;
    color: white;
    position: absolute;
    height: 110px;
}
.navlinks {
           display:flex;
        align-items: center;
        gap:100px;
        margin-right: 100px;
        
}
.navlinks a {
           color: #49FF10;
           font-size: 17px;
           font-weight: 400px;
           text-decoration: none;
}
nav h2{
    text-align: left;
    font-size: 45px;
    animation: shine 4s infinite;
    margin-left: 20px;
    margin-right: 50px;
}

@keyframes shine{
    0% {
        text-shadow: 0 0 20px red;
    }
    25% {
        text-shadow: 0 0 30px yellow;
    }
    50% {
        text-shadow: 0 0 50px orangered;
    }
    75% {
        text-shadow: 0 0 25px blue;
    }
    100% {
        text-shadow: 0 0 5px black;
    }
}
nav h3{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a:hover{
    color: red;
}
.header{
    height: 600px;
    color: white;
    font-size: 40px;
    padding: 160px 65px 0px 65px;
    background-image: url("image/ChatGPT\ Image\ Aug\ 28\,\ 2026\,\ 11_13_00\ PM.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.box{
     background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px);
    font-size: 25px;
    padding-left: 25px;
}
.video{
    width: 400px;
    height: 20px;
    background-color:brown;
    color: #c29b62;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    margin-top: 80px;
}
.video a{
    color: white;
    text-decoration: none;
}
.hero h1{
    color: white;
    text-shadow: 0 0 15px red;
    animation: shine 4s infinite;
    border-radius: 40%;
}
@keyframes shine{
    0% {
        text-shadow: 0 0 20px red;
    }
    25% {
        text-shadow: 0 0 30px yellow;
    }
    50% {
        text-shadow: 0 0 50px orangered;
    }
    75% {
        text-shadow: 0 0 25px blue;
    }
    100% {
        text-shadow: 0 0 5px black;
    }
}
.one h2{
    color:red;
}
.one p{
    color:white;
}
.two h2{
    color:red;
}
.two p{
    color:white;
}
.three h2{
    color:red;
}
.three p{
    color:white;
}
.four h2{
    color:red;
}
.four p{
    color:white;
}
.card{
    width: 200px;
    background-color: #631B28;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border: 2px shiny white;
    border-style: dashed;
    transition: 0.4 ease;
}
.card:hover{
    transform: scale(1.08);
}
.games{
    display: flex;
    justify-content: center;
}
.card img{
    width: 200px;
    height: 200px;
}
.card h3{
    margin: 10px;
}
.footer{
    background-color: #38331D;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: .85rem;
    letter-spacing: 1px;
    border-style: dashed;
}
.footer h3{
    color: yellow;
    text-align: center;
}
.footer p{
    font-size: 20px;
    padding: 30px;
}
.section1,
.section2 {
    transition: transform 0.7s ease;
}

.section1:hover,
.section2:hover {
    transform: scale(1.03);
}
.section2,
.section3{
    transition: transform 0.7s ease;
}

.section2:hover,
.section3:hover {
    transform: scale(1.03);
}
.section3,
.section4{
    transition: transform 0.7s ease;
}

.section3:hover,
.section4:hover {
    transform: scale(1.03);
}
.section4,
.section5{
    transition: transform 0.7s ease;
}

.section4:hover,
.section5:hover {
    transform: scale(1.03);
}
.section5,
.section6{
    transition: transform 0.7s ease;
}

.section5:hover,
.section6:hover {
    transform: scale(1.03);
}
html{
    scroll-behavior: smooth;
}

