body{
    background-color:#8c6736;
    background-image:linear-gradient(to right, rgba(0,0,0,0.57), rgba(0,0,0,0.10)),
                url("image/ChatGPT Image Aug 28, 2026, 06_22_02 PM.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-color: black;
}
.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(20px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 7px;
    color: white;
    position: absolute;
    height: 110px;
}
.navlinks {
           display:flex;
        align-items: center;
        gap:100px;
        margin-right: 100px;
}
.navlinks a {
           color: white;
           font-size: 22px;
           text-decoration: none;
}
.navlinks a:hover{
    color: #FFF33F;
    transform: scale(1.15);
}
nav h1{
    text-align: left;
    font-size: 55px;
    animation: shine 4s infinite;
    margin-left: 20px;
}

@keyframes shine{
    0% {
        text-shadow: 0 0 20px red;
    }
    25% {
        text-shadow: 0 0 30px yellow;
    }
    50% {
        text-shadow: 0 0 50px orangered;
    }
    75% {
        text-shadow: 0 0 25px blue;
    }
    100% {
        text-shadow: 0 0 5px black;
    }
}
nav h3{
    display: flex;
    justify-content: space-between;
    
}
.header{
    height: 600px;
    color: white;
    font-size: 40px;
    padding: 160px 65px 0px 65px;
}
.header h2{
    color: white;
}
.style p {
    margin: 10px;
    font-size: 25px;
}
.box{
     background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(2px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px);
}
.trailer{
    width: 180px;
    height: 10px;
    background-color:brown;
    color: #c29b62;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;

}
.trailer a{
    color: white;
    text-decoration: none;
}
.gen{
    padding: 10px;
    display: flex;
}
.hero h2{
    font-size: 48px;
}
.hero p{
    font-size: 25px;
}
.hero{
    background: linear-gradient(135deg, #050505, #101a14,#1d2920);
    border-radius: 10%;
    margin: 25px;
    padding: 15px;
    margin-right: 20px;
}
.char{
    padding: 10px;
    display: flex;
    margin-top: 10px;
}
.hero ul{
    font-size: 25px;
    color: white;
}

.story{
    padding: 25px;
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.story p {
    color: white;
}
h2{
    color: cyan;
}
h1{
    animation: shine 4s infinite;
    font-size: 100PX; 
}
@keyframes shine{
    0% {
        text-shadow: 0 0 20px red;
    }
    25% {
        text-shadow: 0 0 30px purple;
    }
    50% {
        text-shadow: 0 0 50px #41454A;
    }
    75% {
        text-shadow: 0 0 25px blue;
    }
    100% {
        text-shadow: 0 0 5px black;
    }
}
.name h3{
    color: #03074A;
    text-shadow: 0 0 10px #999306,
                 0 0 15px #07FF2E;
}
h3{
    color: #FF0000;
    text-shadow: 0 0 25px white;
}
.sce img{
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 5px;
    padding: 5px 15px;
}
.hero2{
    display: block;
    justify-content: space-between;
    align-items: flex-start;
}
.cast{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}
.cast img{
    margin-top: 1px;
    border-color: 6px solid white;
    border-style: inset;
    margin-left: 40px;
    margin-right: 40px;
}
.ellie img{
    width: 400px;
    height: 400px;
    justify-content: center;
}
.joel img{
    width: 330px;
    height: 330px;
}
.tommy img{
    width: 250px;
    height: 250px;
}
.tess img{
    width: 270px;
    height: 270px;
}
.riley img{
    width: 210px;
    height: 210px;

}
.cast h3{
    color: #f5f1e8;
    border-bottom: 2px solid #e85d3f;
    text-align: center;
    padding-bottom: 8px;
}
.cast:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}
p1{
    border-radius: 30%;
    background-color: rgba(0,0,0,.5);
    padding: 3px;
}
.footer{
    background-image: url(image/WhatsApp\ Image\ 2026-08-31\ at\ 22.30.40.jpeg);
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-top: 40px;
    border-top: 2px dashed #8c6736;
}
.footer h4{
    font-size: 27px;
    color: white;
}
.footer h2{
    font-size: 30px;
    color:#e85d3f;
}
.end-icon {
    width: 120px;
    height: 2px;
    background-color:brown;
    color: #c29b62;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}
.end-icon a {
    color: white;
    text-decoration: none;
section{
    padding: 6%;
}
}
.section1,
.section2 {
    transition: transform 0.7s ease;
}

.section1:hover,
.section2:hover {
    transform: scale(1.03);
}
.section2,
.section3{
    transition: transform 0.7s ease;
}

.section2:hover,
.section3:hover {
    transform: scale(1.03);
}
.section3,
.section4{
    transition: transform 0.7s ease;
}

.section3:hover,
.section4:hover {
    transform: scale(1.03);
}
.section4,
.section5{
    transition: transform 0.7s ease;
}

.section4:hover,
.section5:hover {
    transform: scale(1.03);
}
.section5,
.section6{
    transition: transform 0.7s ease;
}

.section5:hover,
.section6:hover {
    transform: scale(1.03);
}
html{
    scroll-behavior: smooth;
}


